
header {
	width: 100%;
	height: 430px;
	background: url(../images-anli/bj.jpg) no-repeat bottom center;
}
.topnav a {
	color: #333;
}
.topnav .logo {
	background-image:  url(../images-anli/logo.png);
}
header h3 {
	margin-top: 120px;
	font-size: 40px;
	color: #fff;
	text-align: center;
}
header p {
	font-size: 22px;
	font-family: MicrosoftYaHeiLight;
	font-weight: 400;
	color: #cec8c8;
	text-align: center;
}
/*中间开始*/
main li{
	height: 624px;
	padding-top: 78px;
	/*background-color: pink;*/
	border-bottom: 1px solid #f4f4f4;
}
.main-left {
	float: left;
	width: 427px;
	height: 540px;
}
.main-right {
	float: left;
	margin-left:75px;
	width: 698px;
}
.main-right dt {
	margin-top:17px;
	height: 58px;
	background-color: #f8f8f8;
	font-size: 22px;
	color: #ff7200;
	text-indent: 1em;
	line-height: 58px;
}
.main-right h3{
	text-indent: -6px;
	font-size: 20px;
	color: #666;
	height: 40px;
}
.main-right h3 span {
	padding:0;
	color: #ff7200;
}
.main-right dd {
	padding-left: 28px;
	margin-top:40px;
}
.main-right p {
	width: 641px;
	font-size: 14px;
	color: #666;
	line-height: 25px;
}